In [1]:
import pandas as pd

In [2]:
p_cases = {"Model": ["MA1", 
                     "MA2", 
                     "MA3", 
                     "MA3_LAG7", 
                     "MA7", 
                     "MA7_WEIGHTED", 
                     "MA7_LAG7", 
                     "MA7_LAG7_WEIGHTED",
                     "ARIMA((1,8,15), 1, 0)",
                     "MA1_LAG7",
                    ],
           
           "MAPE": [31.118702, 
                    36.516799, 
                    39.718155, 
                    21.385622, 
                    33.78979955347745, 
                    25.373541382119836,
                    21.030497485696458,
                    19.923766643166225,
                    13.829561768558026,
                   24.493535760208584,
                   ],
     
            "MSE": [7574874.745406824, 
                    11944379.414473685, 
                    14991195.867487537, 
                    3717036.3070489834, 
                    9733491.132571427, 
                    4428578.540684799,
                    4551671.954636202,
                    3791657.2208423913,
                    525227.8983486429,
                   3800592.5187165774,
                   ],

            "RMSE": [2752.2490340459426, 
                     3456.064150804161, 
                     3871.8465707576192, 
                     1927.9616975056801, 
                     3119.8543447685865, 
                     2104.4188130419284,
                     2133.464776985128,
                     1947.2178154593778,
                     724.7260850477529,
                    1949.5108408820345,
                    ]
}

# CASES

In [3]:
df_cases = pd.DataFrame(p_cases)
df_cases = df_cases.sort_values(by=['MAPE'])
df_cases.style.hide_index()

In [4]:
p_deaths = {"Model": ["MA1", 
                      "MA2", 
                      "MA3", 
                      "MA7",
                      "MA1_LAG7",
                      "Triple Exp Smooth",
                      "Simple Exp Smooth",
                      "ARIMA([1,5], 1, 0)",
                      "ARIMA([1,5], 0, 0)"
                    ],
           
           "MAPE": [66.25288152051796, 
                    77.29995119181442, 
                    82.16785247972143, 
                    73.51420846851163,
                    64.84814553741637,
                    60.38389686465974,
                    66.1775231729747,
                    13.670948412441142,
                    33.83236273684683,
                   ],
     
            "MSE": [20852.817415730337, 
                    28908.85533707865, 
                    31983.966197183094, 
                    20368.945384972172, 
                    7663.017094017094,
                    7048.383796701731,
                    20851.507895515446, 
                    287.5726867822375,
                    1856.1735200497283,
                   ],

            "RMSE": [144.4050463651819, 
                     170.02604311422016, 
                     178.84061674346546, 
                     142.7198142689801, 
                     87.53866056787191,
                     83.95465321649378,
                     144.40051210267728,
                     16.957968238625686,
                     43.083332276528104,
                    ]
}

# DEATHS

In [5]:
df_deaths = pd.DataFrame(p_deaths)
df_deaths = df_deaths.sort_values(by=['MAPE'])
df_deaths.style.hide_index()

In [6]:
p_deaths_weekly = {
    "Model": ["WEEKLY-MA1", 
              "WEEKLY-MA2", 
              "WEEKLY-MA3", 
             ],

    "MAPE": [31.273406842466194,
             39.977652686425955,
             51.685498955057454
            ],

    "MSE": [4004.719887955183,
            6936.210816326531,
            10466.679392845574
           ],

    "RMSE": [63.282856193089,
             83.2839169127301,
             102.30679055099702
            ]
}

# WEEKLY DEATHS

In [7]:
df_deaths_weekly = pd.DataFrame(p_deaths_weekly)
df_deaths_weekly = df_deaths_weekly.sort_values(by=['MAPE'])
df_deaths_weekly.style.hide_index()